*{margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.navbar {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    background-color: #BD9993
}

.app-logo{
    justify-self: start;
    width: 100px;
    height: auto;
}

.title{
    margin-left: 20px
}